article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #e22d23;
  color: #ffffff;
  text-transform: uppercase;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 5rem;
  padding: 2rem 0;
  -webkit-box-shadow: 0 10px 16px 0 rgba(55, 58, 75, 0.35);
          box-shadow: 0 10px 16px 0 rgba(55, 58, 75, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.header-nav-list-item {
  margin-left: 2rem;
}

.header-nav-list-item:first-of-type {
  margin-left: 0;
}

.header-nav-list a {
  border-bottom: 2px solid transparent;
}

.header-nav-list a:hover {
  border-bottom: 2px solid #ffffff;
}

.header a {
  color: #ffffff;
}

@media only screen and (max-width: 550px) {
  .header-nav-title {
    font-size: 1.6rem;
  }
  .header a {
    font-size: 1.4rem;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(137, 137, 137, 0.4))), url("../assets/ducati.jpg");
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3) 60%, rgba(137, 137, 137, 0.4)), url("../assets/ducati.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 95vh;
}

.hero-title {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1050px) {
  .hero-title {
    width: 90%;
  }
}

.about {
  margin-top: 10rem;
}

.about-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin: 10rem auto 10rem;
  position: relative;
}

.about-title::after {
  content: "";
  background-color: #e22d23;
  height: 4px;
  width: 10rem;
  position: absolute;
  left: calc(50% - 5rem);
  bottom: -2rem;
}

.about-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.about-gallery-image {
  width: calc(100% / 3);
  margin: 0 2rem;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.about-gallery-image:first-of-type {
  margin-left: 0;
}

.about-gallery-image:last-of-type {
  margin-right: 0;
}

.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text-container {
  font-size: 2.1rem;
  line-height: 2;
  padding: 1rem 6rem;
  width: 65%;
}

.about-text-container p {
  margin-bottom: 2rem;
}

.about-text-container p:last-of-type {
  font-weight: 600;
  color: #e22d23;
}

.about-text-image {
  width: 45%;
}

.about-text-image img {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
  .about-title {
    width: 100%;
  }
  .about-text-container {
    padding: 0 0 0 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-gallery-image {
    width: 50%;
  }
  .about-gallery-image:first-of-type {
    display: none;
  }
  .about-text-image {
    display: none;
  }
  .about-text-container {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 630px) {
  .about-title {
    font-size: 3rem;
  }
}

.cruise {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../assets/cruise.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)), url("../assets/cruise.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  margin-top: 10rem;
}

@media only screen and (max-width: 630px) {
  .cruise {
    height: 35vh;
  }
}

.store {
  margin: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-title {
  font-size: 3.5rem;
  text-align: center;
  position: relative;
}

.store-title::after {
  content: "";
  background-color: #e22d23;
  height: 4px;
  width: 10rem;
  position: absolute;
  left: calc(50% - 5rem);
  bottom: -2rem;
}

.store-list-heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 4rem 0;
}

.store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.store-list li {
  width: calc(100% / 3);
  margin: 2rem 0;
}

.store-text {
  font-size: 2rem;
  line-height: 1.7;
  text-align: center;
}

.store-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}

.store-links li {
  margin: 0 4rem;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-links li a:last-of-type {
  color: #333333;
  margin-top: 2rem;
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (max-width: 630px) {
  .store-title {
    font-size: 3rem;
  }
  .store-list-heading {
    font-size: 2.5rem;
  }
  .store-list li {
    width: 50%;
  }
  .store-list li:last-of-type {
    width: 100%;
  }
  .store-text {
    text-align: left;
  }
  .store-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store-links li {
    margin: 4rem 0;
    width: 70%;
  }
  .store-links li:first-of-type {
    margin-top: 0;
  }
  .store-links li:last-of-type {
    margin-bottom: 0;
  }
}

.contact {
  height: 50vh;
  padding: 8rem 0;
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 10px 10px #ffffff;
          box-shadow: inset 0 10px 10px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-title {
  font-size: 3.5rem;
  text-align: center;
  position: relative;
}

.contact-title::after {
  content: "";
  background-color: #e22d23;
  height: 4px;
  width: 10rem;
  position: absolute;
  left: calc(50% - 5rem);
  bottom: -2rem;
}

.contact-text {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 4rem;
  text-align: center;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  margin-top: 4rem;
}

.contact-list li {
  margin: 0 4rem;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.contact-list li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-mail {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
}

.contact-mail:hover {
  text-decoration: underline;
}

.contact a {
  color: #333333;
}

@media only screen and (max-width: 630px) {
  .contact-title {
    font-size: 3rem;
  }
  .contact-text {
    font-size: 2.5rem;
  }
}

.footer {
  background-color: #e22d23;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1rem 0;
}
/*# sourceMappingURL=main.css.map */