.contact {
  height: 50vh;
  padding: 8rem 0;
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 10px 10px #ffffff;

  display: flex;
  align-items: center;

  &-title {
    font-size: 3.5rem;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      background-color: #e22d23;
      height: 4px;
      width: 10rem;
      position: absolute;
      left: calc(50% - 5rem);
      bottom: -2rem;
    }
  }

  &-text {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 4rem;
    text-align: center;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 4rem;

    li {
      margin: 0 4rem;
      transition: 0.3s transform ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &-mail {
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 700;
    color: #333333;

    &:hover {
      text-decoration: underline;
    }
  }

  a {
    color: #333333;
  }
}

@media only screen and (max-width: 630px) {
  .contact {
    &-title {
      font-size: 3rem;
    }

    &-text {
      font-size: 2.5rem;
    }
  }
}
