html {
  font-size: 62.5%;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
