.cruise {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)),
    url("../assets/cruise.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  margin-top: 10rem;
}

@media only screen and (max-width: 630px) {
  .cruise {
    height: 35vh;
  }
}
