.store {
  margin: 10rem 0;

  display: flex;
  align-items: center;

  &-title {
    font-size: 3.5rem;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      background-color: #e22d23;
      height: 4px;
      width: 10rem;
      position: absolute;
      left: calc(50% - 5rem);
      bottom: -2rem;
    }
  }

  &-list-heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 4rem 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;

    li {
      width: calc(100% / 3);
      margin: 2rem 0;
    }
  }

  &-text {
    font-size: 2rem;
    line-height: 1.7;
    text-align: center;
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;

    li {
      margin: 0 4rem;
      transition: 0.3s transform ease;
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      align-items: center;

      a:last-of-type {
        color: #333333;
        margin-top: 2rem;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .store-title {
    font-size: 3rem;
  }

  .store-list-heading {
    font-size: 2.5rem;
  }

  .store-list li {
    width: 50%;

    &:last-of-type {
      width: 100%;
    }
  }

  .store-text {
    text-align: left;
  }

  .store-links {
    flex-direction: column;

    li {
      margin: 4rem 0;
      width: 70%;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
